body {
    font-family: Verdana;
}

h1 {
    text-align: center;
    padding-top: 10px;
}

p {
    text-align: left;
    padding-left: 30px;
    font-size: larger;
    padding-right: 30px;
}

.project_text {
    text-align: center;
}

.about_me_text {
    font-size: x-large;
}

hr {
    width: 90%;
    border: 3px solid black;
}

ul {
    text-align: left;
    padding-left: 80px;
    font-size:large
}

h2 {
    text-align: center;
    padding-top: 15px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    text-align: center;
}

.img {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}