body {
    font-family: Verdana;
}

h1 {
    text-align: center;
    padding-top: 10px;
}

p {
    text-align: left;
    padding-left: 50px;
    font-size: larger;
}

h2 {
    text-align: center;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

