---
layout: compress
---

{% include base_path %}

{% comment %}Detect current language from page front matter or URL{% endcomment %}
{% if page.lang %}
  {% assign current_lang = page.lang %}
{% elsif page.url contains '/en/' %}
  {% assign current_lang = 'en' %}
{% else %}
  {% assign current_lang = 'fr' %}
{% endif %}

<!doctype html>
<html lang="{{ current_lang }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
